* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  
  body {
    background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  
  .app {
    /* width: 350px; */
    /* height: 250px; */
    background-color: #fff;
    margin: 50px auto 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  }
  
  .exch-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  label {
      padding: 5px;
  }

  span {
    padding: 15px;
}

  .output {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .output-text {
      height: 35px;
      width: 200px;
      border: 1px solid #000;
  }

  .controls {
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .controls button {
    padding: 7px 12px;
    cursor: pointer;
    background-color: #6B7A8F;
    color: white;
  }